flume:
    image: probablyfine/flume 
    ports:
     - "44444:44444"
    volumes:
     - ./fixtures/source.conf:/opt/flume-config/flume.conf
     - host_log:/var/log/client.log
    environment:
      FLUME_AGENT_NAME: a1
    external_links:
      - kafkadocker_kafka_1:kafka   
